* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_todo {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(20, 20, 97);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_todo {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* backgroun  d-color: aliceblue; */
}
.container_todo h2 {
  color: white;
  margin-bottom: 20px;
}
.input_todo input {
  height: 30px;
  width: 20vw;
  border: none;
  background-color: ghostwhite;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.toto_btn {
  transform: translateX(-25px);
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  top: 3px;
}
.item_todo {
  height: 30px;
  width: 15vw;
  background-color: ghostwhite;
  margin-top: 20px;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
.toto_delete {
  background-color: transparent;
  color: red;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}
.toto_clear {
  margin-top: 30px;
  height: 40px;
  width: 130px;
  border: none;
  background-color: aquamarine;
  font-size: 1.3rem;
  cursor: pointer;
}
